{% extends "base.html" %}
{% block title %}Historial{% endblock %}

{% block content %}
  <h2>Historial de Préstamos</h2>
  <a href="{% url 'inicio' %}" class="btn btn-link"> ⬅ Volver al inicio</a>

  {% if prestamos %}
    <ul class="list-group mt-3">
      {% for prestamo in prestamos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="ms-2 me-3">
            <strong>{{ prestamo.libro.titulo }}</strong><br>
            Prestado el: {{ prestamo.fecha_prestamo }}
          {% if prestamo.devuelto %}
            <span class="badge bg-success ms-2">✅ Devuelto</span>
          {% else %}
            <span class="badge bg-warning text-dark ms-2">❌ No devuelto</span>
            {% endif %}
        </div>
         {% if not prestamo.devuelto %}
             <form action="{% url 'devolver_libro' prestamo.id %}" method="post">
                 {% csrf_token %}
                 <button type="submit" class="btn btn-sm btn-danger">Devolver</button>
              </form>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tienes préstamos registrados.</p>
  {% endif %}
{% endblock %}


