{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
  <h2> 📚 Bienvenido al Sistema de Biblioteca</h2>

  {% if user.is_authenticated %}
    <p class="lead">Hola, <strong>{{ user.username }}</strong></p>

    <div class="mb-3">
      <a href="{% url 'lista_libros' %}" class="btn btn-primary">Ver libros</a>
      <a href="{% url 'historial_usuario' %}" class="btn btn-secondary">Ver historial</a>
      {% if user.is_staff %}
        <a href="{% url 'exportar_json' %}" class="btn btn-success">📦 Exportar Backup</a>
      {% endif %}
    </div>

    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger">Cerrar sesión</button>
    </form>

  {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-primary">Iniciar sesión</a>
  {% endif %}
{% endblock %}
